@font-face {
  font-family: "iconfont"; /* Project id 2902365 */
  src: url('//at.alicdn.com/t/font_2902365_mgt0nqb91u.woff2?t=1635733606497') format('woff2'),
  url('//at.alicdn.com/t/font_2902365_mgt0nqb91u.woff?t=1635733606497') format('woff'),
  url('//at.alicdn.com/t/font_2902365_mgt0nqb91u.ttf?t=1635733606497') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuxian:before {
  content: "\e616";
}

.icon-fuzhushuxian:before {
  content: "\e6f4";
}

.icon-tuihui:before {
  content: "\e607";
}

.icon-gongzuojingyan:before {
  content: "\e609";
}

.icon-nan:before {
  content: "\e784";
}

.icon-gongzuo:before {
  content: "\e62d";
}

.icon-EC_gerenwengao-gerenjianli:before {
  content: "\e696";
}
